.frac{
  display:inline-block;
  margin-left:.1em;margin-right:.1em;
  vertical-align:-64%;
  text-align:center;
}
.frac > .num, .frac > .den{
  display:inline-block;
  padding:0 .1em;
}
.frac > .fracbar {display:block;
  height:0;margin:0;border:0;
  border-bottom:.1em solid;
  overflow:hidden;
}
.den{vertical-align:top;}

.answerBox{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.questionBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#cours{
    font-size: x-large;
    margin-top: 10%;
}

.coursButton{
    font-size: large;
    margin-left: 300px;
}

td, th{
    border: 1px solid black;
    padding: 4px;
}

table{
    border-collapse: collapse;
}